<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Email"></activity>
        <activity android:name=".ShowPlan" />
        <activity android:name=".ShowExpense" />
        <activity android:name=".ShowIncome" />
        <activity android:name=".Help" />
        <activity android:name=".MyPlan" />
        <activity android:name=".NewPlan" />
        <activity android:name=".MyIncome" />
        <activity android:name=".MyExpense" />
        <activity android:name=".NewExpense" />
        <activity android:name=".NewIncome" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>